*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}

.home{
    background: #222;
    height: 100vh;
}

.container{
    width: 80%;
    margin: 0 auto;
}

header{
    background: #292929;
   
}

header::after {
  content:'';
  display: table;
  clear: both;
}

.logo{
    float: left;
    padding: 10px 0;
}


nav ul {
    float: right;
    margin: 0;
    padding: 5px;
    overflow: hidden;
    list-style: none;
}

nav li {
    display: inline-block;
    margin-left: 65px;
    margin-right: 0px;
    padding-top: 23px;
    /* line-height: 50px; */
    position: relative;
}

nav a {
    color: #f7f6ab;
    position: relative;
    padding: 15px 0;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 15px;
}


nav a:hover {
    color: #fff;
}

nav a::before {
    content:'';
    display: block;
    height: 5px;
    background-color: #f7f6ab;

    position: absolute;
    top: 0;
    width: 0%;

    transition:all ease-in-out 200ms;
    transition-delay: 100ms;
}

nav a:hover::before {
    width: 100%;
}

.wrap1{
    background-image: linear-gradient(to right, #99b3ff , #cc99ff);
    height: 60px;
    display: flex;
    justify-content: space-between;
    
    place-items: center;
    padding: 10px 15px;
}

.wrap1 h1{
    float: left;
    padding: 0 10px;
    font-family: verdana;
    
}

.wrap1 button {
    float: right;
    padding: 10px 10px;
    margin-right: 30px;
    cursor: pointer;
    background: #99b3ff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 100%; 
    border: 0.1;
    outline: none;
    position: relative;
    height: 40px;
}



@media screen and (max-width: 740px){
    
    nav ul{
        position: fixed;
        width: 100%;
        height: 100vh;
        background: #222;
        top: 50px;
        left: -100%;
        text-align: center;
        transition: .5s;
        z-index: 10;
    }

    nav ul li {
       display: block;
       margin: 40px 0;
       line-height: 30px;
    }

    nav ul li a {
        font-size: 20px;
    }

    .wrap1{
        height:90px;
        font-size: 80%;
    }

    .wrap1 button{
        height: 50px;
        
    }
}

@media (max-width: 405px){
    .wrap1{
        height:130px;
        font-size: 75%;
    }
}





.hero{ 
height: 100%;
width: 100%;
background: #222;  /*background-image: linear-gradient(to right, #99b3ff , #cc99ff);*/
background-size: cover;
background-position: center;
position: fixed; 

}

.form-box{
    width: 380px;
    height: 590px;
    position: relative;
    margin: 3% auto;
    background: #fff;
    padding: 5px;
    overflow: hidden;
}

.button-box{
    width: 220px;
    margin: 35px auto;
    position: relative;
    box-shadow: 0 0 20px 10px #ff24781f;
    border-radius: 30px;
}

.toggle-btn{
    padding: 10px 30px;
    cursor: pointer;
    background: transparent;
    border: 0;
    outline: none;
    position: relative;
}

#t-btn{
    top: 0;
    left: 0;
    position: absolute;
    width: 110px;
    height: 100%;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border-radius: 30px;
    transition: .5s;
}

.social-media-icons{
    margin: 30px auto;
    text-align: center;
}

.social-media-icons img{
    width : 30px;
    margin: 0 12px;
    box-shadow: 0 0 20px 0 #7f7f7f3d;
    cursor: pointer;
    border-radius: 50%;
}

.input-group{
    top: 180px;
    position: absolute;
    width: 280px;
    transition: .5s;
}

.input-field{
    width: 100%;
    padding: 10px 0;
    margin: 5px 0;
    border-left: 0;
    border-top: 0;
    border-right: 0;
    border-bottom: 1px solid #999;
    outline: none;
    background: transparent;
}

.submit-btn{
    width: 85%;
    height: 30px;
    padding: 10 px 30px;
    cursor: pointer;
    display: block;
    margin: auto;
    background: linear-gradient(to right, #ff105f, #ffad06);
    border: 0;
    outline: none;
    border-radius: 30px;
}

.check-box{
    margin: 30px 10px 30px 0;
}

span{
    color: #777;
    font-size: 12px;
    bottom: 68px;
    position: absolute;
}

#login{
    left:50px;
}

#signup{
    left:450px;
}

    main{
    margin-top: 75px;
    margin-bottom: 75px;
    margin-left: 15px;
    margin-right: 15px;
}

 #main-body {
     color: white;
     display: flex;
     flex-wrap: wrap;
     flex-direction: column;
 }

 .filters {
    float: left;
    padding-left: 30px;
 }

 .dropbtn {
     background-color: inherit;
     border-width: 1px;
     border-color: whitesmoke;
     color: whitesmoke;
     padding: 10px 16px;
     cursor: pointer;
 }

 .dropbtn:hover, .dropbtn:focus {
    background-color: #99b3ff;
    color: black;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  

  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}

  .f-btn {
    background-color: inherit; 
    border: none; 
    color: white; 
    padding: 12px 16px; 
    font-size: 16px; 
    cursor: pointer; 
  }
  
  
  .f-btn:hover {
    background-color: #51adcf;
    color: #6a2c70;
  }

  #myInput {
    box-sizing: border-box;
    background-position: 14px 12px;
    background-image: url('Assets/searchicon.png');
    background-size: 25px;
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 14px 20px 12px 45px;
    border: none;
    border-bottom: 1px solid #ddd;
  }
  
  
  #myInput:focus {outline: 3px solid #ddd;}